{% extends 'owner/CAbase.html' %}
{% load crispy_forms_tags %}
{% block title %}
 Create a task
{% endblock title %}


{% block sidebar %}
{% include 'owner/CAsidebar.html' %}
{% endblock sidebar %}

{% block content %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Create a task</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Create a task</button>
		</div>
	</form>
		
	
</div>
{% endblock content %}