{% extends 'owner/CAbase.html' %}
{% load crispy_forms_tags %}
{% block title %}
 Clients
{% endblock title %}


{% block sidebar %}
{% if request.user.isCA %}
{% include 'owner/CAsidebar.html' %}
{% else %}
{% include 'worker/workerSidebar.html' %}
{% endif %}
{% endblock sidebar %}

{% block header %}
<h2 style="margin: 5px">Clients</h2>
{% endblock header %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm">
</form>
{% endblock content %}
