<nav id="sidebar">
        <div class="sidebar-header">
            <h3>Saptshrungi</h3>
        </div>

        <ul class="list-unstyled components" id="menu">
            <p><a href="{% url 'owner.home' %}">CA Dashboard</a></p>

            <li>
                <a href="{% url 'worker.workersList' %}">Employees</a>
            </li>

            <li>
                <a href="{% url 'client.clientsList' %}">Clients</a>
            </li>

            <li>
                <a href="{% url 'service.servicesList' %}">Services</a>
            </li>
            <li>
                <a href="#taskSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Task</a>
                <ul class="collapse list-unstyled" id="taskSubmenu">
                    <li>
                        <a href="{% url 'task.assignedTaskList' request.user.id %}">Task assigned to me  <span class="badge badge-light badge-pill" id="notification"></span></a>
                    </li>
                    <li>
                        <a href="{% url 'task.tasksList' %}">All tasks</a>
                    </li>
                    <li>
                        <a href="{% url 'task.createTask' %}">Create new task</a>
                    </li>
                </ul>

            </li>
        </ul>
</nav>
