{% extends 'owner/CAbase.html' %}
{% block title %}
 Profile
{% endblock title %}

{% block sidebar %}
{% include 'owner/CAsidebar.html' %}
{% endblock sidebar %}


{% block header %}
<h2 style="margin: 5px">Profile</h2>
{% endblock header %}

{% block content %}
<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
  <div class="alert alert-secondary" role="alert">
    A simple secondary alert—check it out!
  </div>

<div class="jumbotron">
    <h4>Name : </h4> <p class="lead">{{ request.user.first_name }} {{ request.user.last_name }}</p>
    <h5>Phone : </h5> <p class="lead">{{ request.user.phone_number }}</p>
    <h5>email : </h5> <p class="lead">{{ request.user.email }}</p>
    <h5>birthdate : </h5> <p class="lead">{{ request.user.birthdate }}</p>

</div>

{% endblock content %}

            
