{% extends 'owner/CAbase.html' %}
{% load crispy_forms_tags %}
{% block title %}
 Service Details
{% endblock title %}

{% block sidebar %}
{% if request.user.isCA %}
{% include 'owner/CAsidebar.html' %}
{% else %}
{% include 'worker/workerSidebar.html' %}
{% endif %}
{% endblock sidebar %}

{% block header %}
<h2 style="margin: 5px">Service's Details</h2>
{% endblock header %}

{% block content %}
<div class="container">
<div class="card">
  <div class="card-body">

   	<h5>Name :</h5> <p class="lead">{{ service.name }} </p>
    <h5>Description : </h5> <p class="lead">{{ service.description }}</p>
    <h5>Documents : </h5>

    <table class="table table-striped table-hover">
	<tbody>
	{% for document in service.documents %}
	 <tr><td>{{ document }}</td></tr>
	{% endfor %}
	</tbody>
	</table>

    <a href="{% url 'service.updateService' service.id %}" class="btn btn-outline-primary">Edit</a>
    <a href="{% url 'task.taskCreated' service.id %}" class="btn btn-outline-primary">Tasks Created</a>
    <a href="{% url 'service.deleteService' service.id %}" class="btn btn-outline-danger">Delete</a>
  </div>
</div>
</div>
{% endblock content %}