{% extends 'owner/CAbase.html' %}
{% block title %}
 Profile
{% endblock title %}

{% block sidebar %}
{% include 'worker/workerSidebar.html' %}
{% endblock sidebar %}

{% block content %}

<div class="jumbotron">
    <h4>Name : </h4> <p class="lead">{{ request.user.first_name }} {{ request.user.last_name }}</p>
    <h5>Phone : </h5> <p class="lead">{{ request.user.phone_number }}</p>
    <h5>email : </h5> <p class="lead">{{ request.user.email }}</p>
    <h5>birthdate : </h5> <p class="lead">{{ request.user.birthdate }}</p>

</div>

{% endblock content %}

            
