{% extends 'owner/CAbase.html' %}
{% block title %}
 Profile
{% endblock title %}

{% block sidebar %}
{% include 'worker/workerSidebar.html' %}
{% endblock sidebar %}

{% block header %}
<h2 style="margin: 5px">Profile</h2>
{% endblock header %}

{% block content %}
<table id="notificationTableForDue"></table>
<table id="notificationTableForAhead"></table> 


<div class="jumbotron">
    <h4>Name : </h4> <p class="lead">{{ request.user.first_name }} {{ request.user.last_name }}</p>
    <h5>Phone : </h5> <p class="lead">{{ request.user.phone_number }}</p>
    <h5>email : </h5> <p class="lead">{{ request.user.email }}</p>
    <h5>birthdate : </h5> <p class="lead">{{ request.user.birthdate }}</p>

</div>

{% endblock content %}


{% block js %}
$.ajax({
  url: "/worker/ajax/getNotificationADayAhead/", 
  dataType: 'json',
  success: function(result){
    let tasks=result['tasks']
    for(let i=0 ;i< tasks.length; i++){
      let id=tasks[i]['pk']
      let url="/taskDetails/"+id+"/";
      let data='<tr><td><div class="alert alert-warning" role="alert"><a href="'+url+'">Warning: Pending Task - '
      +tasks[i]['service']+' for '+tasks[i]['client']+
      '</a></div></td></tr>';
      $('#notificationTableForAhead').append(data);

    }	
}});

$.ajax({
  url: "/worker/ajax/getNotificationOnDueDay/", 
  dataType: 'json',
  success: function(result){
    let tasks=result['tasks']
    console.log(tasks)
    for(let i=0 ;i< tasks.length; i++){
      
      let id=tasks[i]['pk']
      let url="/taskDetails/"+id+"/";
      let data='<tr><td><div class="alert alert-danger" role="alert"><a href="'+url+'">Warning: Pending Task due on today - '
      +tasks[i]['service']+' for '+tasks[i]['client']+
      '</a></div></td></tr>';
      $('#notificationTableForDue').append(data);

    }	
}});



{% endblock js %}

            

            
