{% extends 'owner/CAbase.html' %}
{% load crispy_forms_tags %}
{% block title %}
 Register 
{% endblock title %}


{% block sidebar %}
{% include 'owner/CAsidebar.html' %}
{% endblock sidebar %}

{% block header %}
<h2 style="margin: 5px">Update Details</h2>
{% endblock header %}

{% block content %}

{% if request.user.isCA %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Update</button>
		</div>
	</form>
</div>
{% else %}
<h2>You are not autherized person</h2>
{% endif %}
{% endblock content %}