{% extends 'owner/CAbase.html' %}
{% load crispy_forms_tags %}
{% block title %}
 Create a task
{% endblock title %}

{% block sidebar %}
{% if request.user.isCA %}
{% include 'owner/CAsidebar.html' %}
{% else %}
{% include 'worker/workerSidebar.html' %}
{% endif %}
{% endblock sidebar %}

{% block content %}
{% if request.user.isCA %}
<div class="content-section">
	<form method="POST">
		{% csrf_token %}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Payment</legend>
			{{ form|crispy }}
		</fieldset>
		<div class="form-group">
			<button class="btn btn-outline-info" type="submit">Save</button>
		</div>
	</form>
		
{% else %}
<h2>You are not authorized for this</h2>	
{% endif %}
</div>
{% endblock content %}